# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\all_java_code\Akka\EventSource\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
